/* styles.css */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Arial, sans-serif;
}

body {
    min-width: 1550px;
    min-height: 3000px;
    overflow-x: hidden;
}

header {
    
    border-bottom: 2px solid rgb(21, 4, 4);
    padding: 10px 20px;
    position: relative;
    height: 128px;
}

header .container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 1200px;
    height: 138px;


}

header .logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 0px;
}

header .logo img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    
}

header .logo span {
    width: 191px;
    height: 33px;
    position: absolute;
    top: 25px;
    left: 75px;
    font-family: Nunito, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    letter-spacing: 0.25em;
    text-align: left;
    color: #3E3F43;
    gap: 64px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin-left: 250px;
    padding: 0;
    display: flex;
    gap: 68px;
    
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #800080;
    font-family: Nunito, Arial, sans-serif;
    text-align: left;
}

nav ul li a.active {
    width: 84px;
    height: 41px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.92px;
}

nav ul li:nth-child(2) a {
    width: 197px;
    height: 41px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.92px;
}

nav ul li:nth-child(3) a {
    width: 84px;
    height: 41px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.92px;
}

nav ul li:nth-child(4) a {
    width: 104px;
    height: 41px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.92px;
}

.hero {
    position: relative;
    text-align: center;
    color: rgb(110, 252, 34);
}

.hero img {
    width: 1550px;
    height: 797px;
    margin-right: 230px;
    top: 128px;
    
   
}

.hero-text {
    color: #612999;
    position: absolute;
    width: 448px;
    height: 230px;
    top: 50px;
    font-size: 72px;
}
.hero-text p{
    color:black;
    margin-top: -50px;
    margin-left: 40px;
    font-size: 24px;
    font-family: Nunito;
    font-weight: 600;
    line-height: 32.74px;
    text-align: left;


}

.product-info h2 {
    padding: 20px;
   color: #612999;
    width: 136.44px;
    height: 40px;
    top: 957px;
    font-family: Rubik;
    font-size: 40px;
    margin-left: 10px;

}
.product-info p{
    color: #000000;
    width: 1136px;
    height: 85px;
    top: 1029px;
    left: 32px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: justified; 
    margin-left:32px;

}

.all-cards{
    display:flex;
    flex-wrap: wrap;
}

.section-title {
    text-align: left;
    font-size: 40px;
    color: #612999;
    margin-bottom: 20px;
    margin-left: 32px;
    
    
}

.card {
    background-color: rgb(245, 237, 237);
    border: 1px solid #ddd;
    border-radius: 38px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 376px;
    height: 496px;
    margin: 32px;
    
    


}

.card img {
    border-radius: 38px;
    width: 376px;
    height: 276px;

}

.card-content {
    padding: 10px;
}

.card-footer {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}




.heart{
background-image: url(images/heart-regular\ \(1\).svg);
background-repeat: no-repeat;
width: 47px;
height: 47px;
border-radius:100%;
background-position: center;
position: absolute;
margin-left: 319px;
}

.cart{
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
    border-radius:100%;
    background-position: center;
    position: absolute;
    margin-left: 294px;
    margin-top: 390px;
}

footer {
    background-color: #EFECFF;
    padding: 20px;
    text-align: left;
    border-top: 2px solid #e0e0e0;
    position: fixed;
    width: 100%;
    height: 287px;
    top: 450px;
    margin-bottom: 32px;
}

.footer-container {
    background-color: #EFECFF;
    width: 1200px;
    height: 287px;
    position: relative;
    top: 0;
}

.footer-left {
    position: absolute;
    width: 126px;
    height: 126px;
    top: 15px;
    left: 32px;
}

.footer-left h3 {
    color: #333333;
    width: 126px;
    height: 28px;
    top: 2745px;
    left: 32px;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;



}

.footer-left p {
    color: #333333;
    margin: 0;
    padding: 8px ;
}

.footer-right {
    position: absolute;
    width: 107px;
    top: 15px;
    left: 308px;
}

.footer-right h3 {
    color: #333333;
    width: 126px;
    height: 28px;
    top: 2600px;
    left: 308px;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;

}

.footer-right p {
    color: #333333;
    margin: 0;
    padding: 8px ;
    text-decoration: none;
    list-style: none;
}

.social-icons {
    position: absolute;
    top: 180px;
    left: 40px;
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    position: absolute;
    top: 215px;
    left: 40px;
    width: 198px;
    height: 18px;
    font-size: 14px;
    color: #777777;
}
